*{
    margin:0;
    box-sizing:border-box;
}
.container{ 
    width:870px;    
    margin:auto;    
}
header{
    padding:10px;
    background:aqua;
}
nav{
    padding:10px;
    background:gray;
}
main{
    display:flex;
}
aside{
    background:red;
    flex: 1 0 25%;
    padding:10px;
}
section{
    background:yellow;
    flex: 1 0 75%;
    padding:10px;
}
footer{
    padding:10px;
    background:#333;
    color:#fff;
}