body {
    background-image: url(https://img.freepik.com/free-photo/aerial-shot-beautiful-tree-forest-covered-with-fog-bled-slovenia_181624-7925.jpg?w=996&t=st=1667755759~exp=1667756359~hmac=1614e5caed4498087450fe27b8f45b3351b3be6267dff658bcd14de56d2c9fbb);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    /*background-attachment: scroll;*/
}