.body {
    font-family: 'Times New Roman', Times, serif;
}
.prvi {
    text-align: left;
    letter-spacing: 5px;
    font-family: comic;
    text-transform: uppercase;
    text-decoration: underline;
}
.prvi q {
    quotes: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.drugi {
    text-align: right;
    line-height: 200%;
    font-family: 'Fasthand', cursive;
    font-style: oblique;
    text-transform: lowercase;
   
}
.drugi q {
    font-family: comic;
}

span.dr {
    font-weight: 1000;
}
.treci {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.treci q {
    font-family: 'Fasthand', cursive;
}
@font-face {
    font-family: comic;
    src: url('Milky Honey.ttf');
}
@font-face {
    font-family: 'Fasthand', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
}
